body{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.all-student-header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;

}
img{
  width: 550px;
  align-self: center;
}

.student-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#delete{
  background: red;
}

input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

h1{
  text-align: center;
}
h2{
  margin-top: -6px;
  text-align: center;
 
}

